@model HandleErrorInfo
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Error</title>
    </head>
    <body>
    <h2>
        Sorry, an error occurred while processing your request.
    </h2>
    <p>@Model.Exception.Message</p>
    <p>@Model.Exception.StackTrace</p>
    @if (@Model.Exception.InnerException != null)
    {
        <p>@Model.Exception.InnerException.Message</p>
        <p>@Model.Exception.InnerException.StackTrace</p>
    }
    </body>
</html>